body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal > * {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}
.reveal.active > * {
  opacity: 1;
  transform: translateY(0);
}
.reveal.active > *:nth-child(1) {
  transition-delay: 0.2s;
}
.reveal.active > *:nth-child(2) {
  transition-delay: 0.4s;
}
.reveal.active > *:nth-child(3) {
  transition-delay: 0.6s;
}
.reveal.active > *:nth-child(4) {
  transition-delay: 0.8s;
}

.menu-img {
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
}
.menu-img:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  transform: scale(0.9); /* shrink the entire card */
}

#contact-section {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #ffe4e6, #ffccd3);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

#contact {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background: #ffe4e6;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}

#contact h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #c2185b;
  font-size: 28px;
  font-weight: bold;
}

#contact .contact-subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  color: #c2185b;
  font-style: italic;
}

#contact form {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

#contact label {
  font-weight: bold;
}

#contact input,
#contact textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 0px;
  border: 1px solid #ffa9ca;
  border-radius: 6px;
  font-size: 15px;
  box-sizing: border-box;
}

#contact textarea {
  resize: vertical;
}

#contact button {
  background: #c2185b;
  color: rgb(255, 238, 155);
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

#contact button:hover {
  background: #a31548;
}
